.u-section-1 .u-sheet-1 {
  min-height: 647px;
}

.u-section-1 .u-text-1 {
  width: 525px;
  margin: 60px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  background-image: none;
  width: 875px;
  margin: 75px auto 59px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 399px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px 30px;
}

.u-section-1 .u-image-1 {
  width: 239px;
  height: 239px;
  background-image: url("images/cvv.jpg");
  background-position: 50% 50%;
  box-shadow: -2px 2px 8px 0 rgba(128,128,128,1);
  margin: 20px auto 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 399px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  margin: 6px 0 0;
}

.u-section-1 .u-text-3 {
  line-height: 2.2;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-layout-wrap-1 {
    position: relative;
    min-height: 278px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 14px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 576px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 434px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 54px;
    margin-right: 20px;
    margin-left: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1036px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 184px;
    margin-left: 209px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    min-height: auto;
    width: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 343px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 49px;
    margin-right: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 418px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 658px;
  }

  .u-section-1 .u-text-1 {
    width: 109px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
    min-height: 40px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 216px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 66px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}