.u-section-1 {
  background-image: url("mamografia.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 772px;
}

.u-section-1 .u-group-1 {
  width: 461px;
  min-height: 627px;
  background-image: none;
  margin: 60px auto 60px 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 139px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 3rem;
  line-height: 0.8;
  text-transform: uppercase;
  font-family: "Changa One";
  font-weight: 400;
  margin: 7px 0 0;
}

.u-section-1 .u-text-3 {
  font-style: italic;
  margin: 32px 0 0;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  border-style: none;
  background-image: none;
  margin: 37px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 637px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 818px;
  }

  .u-section-1 .u-group-1 {
    width: 402px;
    min-height: 474px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    background-position: 73.54% 0%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 614px;
  }

  .u-section-1 .u-group-1 {
    width: 292px;
    min-height: 410px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.125rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    background-position: 76.36% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 606px;
  }

  .u-section-1 .u-group-1 {
    width: 248px;
    min-height: 421px;
    margin-top: 76px;
    margin-bottom: 54px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.625rem;
  }
}