.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 502px;
}

.u-section-1 .u-text-1 {
  width: 550px;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-1 .u-form-1 {
  width: 570px;
  margin: 30px auto 60px;
}

.u-section-1 .u-input-1 {
  text-transform: uppercase;
}

.u-section-1 .u-input-2 {
  text-transform: uppercase;
}

.u-section-1 .u-input-3 {
  text-transform: uppercase;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-input-4 {
  text-transform: uppercase;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-input-5 {
  text-transform: uppercase;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-input-6 {
  text-transform: uppercase;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: normal;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-group-5 {
    width: 570px;
    margin-top: 30px;
    margin-right: auto;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
  }

  .u-section-1 .u-form-group-5 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }

  .u-section-1 .u-form-group-5 {
    width: 340px;
  }
}