html, body {
    height: 100%;
    background: #292f35;
}

/* Para 600px */  
@media only screen and (max-width: 3000px) and (min-width: 901px) {  
		.login{
	background: #fff;
	padding:  3%;
	margin: 2% 13% 0 20%;
	border: 5px solid gray; 
	border-radius: 2em;
	height: 80%;
	width:50%;
	display: flex;
	justify-content: center;
	flex-direction: column;


}
.login .titulo{
	padding: 5%;
	display: flex;
	justify-content: center;
	font-size: 30px;
	font-family: Verdana;
}
.login .box{
	font-size: 25px;
	background-color: #fff;
	margin: 2%;
	padding: 2%;
	border: 5px solid gray; 
	border-radius: 2em;
}

.login .imge{
	
	background-color: #fff;
	display: flex;
	justify-content: center;
}

input{
	border: 0;
	font: inherit;
  	padding: 0.2em 0.5em;
}

img{
	border: 2px solid gray;
	border-radius: 2em;
	 width: 25%;
	 height: 25%;
}
.box_btn{
	display: flex;
	justify-content: center;
}
button{
	padding: 2%;
	color: #fff;
	background: #638cb5;
	font-family: Verdana;
	font-size: 18px;
	border-radius: 20px;
	width: 50%;
}
  
}  

/* Para 960px */  
@media only screen and (max-width: 900px) and (min-width: 818px) {  
	.login{
	background: #fff;
	padding:  3%;
	margin: 2% 30% 0 13%;
	border: 5px solid gray; 
	border-radius: 2em;
	height: 85%;
	width:70%;
	display: flex;
	justify-content: center;
	flex-direction: column;


}
.login .titulo{
	padding: 5%;
	display: flex;
	justify-content: center;
	font-size: 30px;
	font-family: Verdana;
}
.login .box{
	background-color: #fff;
	margin: 5%;
	padding: 5%;
	border: 5px solid gray; 
	border-radius: 2em;
}

.login .imge{
	
	background-color: #fff;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	display: flex;
	justify-content: center;
}

input{
	border: 0;
	font: inherit;
  	padding: 0.2em 0.5em;
}

img{
	border: 2px solid gray;
	border-radius: 2em;
	 width: 40%;
	 height: 40%;
}
.box_btn{
	display: flex;
	justify-content: center;
}
button{
	padding: 2%;
	color: #fff;
	background: #638cb5;
	font-family: Verdana;
	font-size: 18px;
	border-radius: 20px;
	width: 50%;
}
}  
  
/* Para 800px */  
@media only screen and (max-width: 817px) and (min-width: 700px) {  

	.login{
	background: #fff;
	padding:  3%;
	margin: 2% 30% 0 12%;
	border: 5px solid gray; 
	border-radius: 2em;
	width: 70%;
	height: 90%;
	display: flex;
	justify-content: center;
	flex-direction: column;


}
.login .titulo{
	padding: 5%;
	display: flex;
	justify-content: center;
	font-size: 30px;
	font-family: Verdana;
}
.login .box{
	background-color: #fff;
	margin: 5%;
	padding: 5%;
	border: 5px solid gray; 
	border-radius: 2em;

	font-size: 22px;
}

.login .imge{
	
	background-color: #fff;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	display: flex;
	justify-content: center;
}

input{
	border: 0;
	font: inherit;
  	padding: 0.2em 0.5em;
}

img{
	border: 2px solid gray;
	border-radius: 2em;
	 width: 40%;
	 height: 40%;
}
.box_btn{
	display: flex;
	justify-content: center;
}
button{
	padding: 5%;
	color: #fff;
	background: #638cb5;
	font-family: Verdana;
	font-size: 18px;
	border-radius: 20px;
	width: 50%;
}
}  
  

  

  
/* Para 320px */  
@media only screen and (max-width: 700px) and (min-width: 300px)  {  
	.login{
	background: #fff;
	padding:  3%;
	margin: 2% 5% 0 5%;
	height: 90%;
	border: 5px solid gray; 
	border-radius: 2em;


	display: flex;
	justify-content: center;
	flex-direction: column;


}
.login .titulo{
	padding: 5%;
	margin-bottom: 10%;
	display: flex;
	justify-content: center;
	font-size: 21px;
	font-family: Verdana;
}
.login .box{
	background-color: #fff;
	margin: 3%;
	padding: 3%;
	border: 5px solid gray; 
	border-radius: 2em;
}

.login .imge{
	
	background-color: #fff;
	display: flex;
	justify-content: center;
}

input{
	border: 0;
	font: inherit;
  	padding: 0.2em 0.5em;
}

img{
	 width: 55%;
	 height: 55%;
}
.box_btn{
	display: flex;
	justify-content: center;
}
button{
	padding: 5%;
	color: #fff;
	background: #638cb5;
	font-family: Verdana;
	font-size: 18px;
	border-radius: 20px;
	width: 50%;
}
} 